@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Light.ttf');
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', Arial, sans-serif;
    background: #eee;
    margin: 0;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.form-layout {
    margin-right: 10px;
}

.form__row {
    display: block;
    margin-bottom: 10px;
}

.form__placeholder {
    margin-bottom: 5px;
}

.form__input {
    width: 400px;
    padding: 5px;
    font-size: 16px;
    font-family: 'Open Sans', Arial, sans-serif;
    outline: none;
    border: 1px solid transparent;
}

.form__input:focus {
    box-shadow: 0 0 1px 2px #ffdb4d;
    transition: box-shadow .3s ease;
}

.form__input.error {
    border: 1px solid red;
}

.form__input.error:focus {
    box-shadow: 0 0 1px 2px red;
    transition: box-shadow .3s ease;
}

.form__submit {
    border: none;
    background: transparent;
    color: #000;
    padding: 0 10px 0 0;
    margin: 20px 0;
    overflow: hidden;
}

.form__submit[disabled] .button__text {
    background: gray;
}

.form__submit[disabled] .button__text::before {
    border-left-color: gray;
}

.button__text {
    position: relative;
    background: #ffdb4d;
    display: block;
    padding: 0 10px;
    line-height: 36px;
    font-size: 16px;
    font-family: 'Open Sans', Arial, sans-serif;
}

.button__text::before {
    content: '';
    position: absolute;
    top: -4px;
    right: -10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 22px 0 22px 11px;
    border-color: rgba(255,219,76,0);
    border-left-color: #ffdb4d;
}

.result {
    width: 400px;
    min-height: 34px;
    padding: 5px;
    background: #fff;
    border: 1px solid transparent;
    transition: border-color .3s ease;

}

.result.success {
    border-color: green;
}

.result.error {
    border-color: red;
}

.result.progress {
    border-color: #ffdb4d;
}

.result-headline {
    margin-bottom: 5px;
}
